<div class="container">
  <div class="row mt-4">
    <h3 class="text-center">Add Product</h3>
    <form
      method="post"
      action="/admin/add-product"
      enctype="multipart/form-data"
    >
      <div class="mb-3 col-md-6">
        <label class="form-label">Name</label>
        <input name="name" type="text" class="form-control" />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label">Category</label>
        <input name="category" type="text" class="form-control" />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label">Price</label>
        <input name="price" type="number" class="form-control" />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label">Description</label>
        <input name="description" type="text" class="form-control pb-5" />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label">Image</label>
        <input name="image" type="file" class="form-control" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>