<div class="container">
  <!-- Pills content -->
  <div class="text-center m-5"><h2>Login</h2></div>
  <div class="row justify-content-center">

    <div class="col-md-6">

      <form method="post" action="/signup">

        <!-- Name input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerName">Name</label>
          <input name="name" type="text" id="registerName" class="form-control" />
        </div>

        <!-- Username input -->
        {{!-- <div class="form-outline mb-4">
          <label class="form-label" for="registerUsername">Username</label>
          <input type="text" id="registerUsername" class="form-control" />
        </div> --}}

        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerEmail">Email</label>
          <input name="email" type="email" id="registerEmail" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerPassword">Password</label>
          <input name="password" type="password" id="registerPassword" class="form-control" />
        </div>

        <!-- Repeat Password input -->
        {{!-- <div class="form-outline mb-4">
          <label class="form-label" for="registerRepeatPassword">Repeat password</label>
          <input
            type="password"
            id="registerRepeatPassword"
            class="form-control"
          />
        </div> --}}

        <!-- Checkbox -->
        {{!-- <div class="form-check d-flex justify-content-center mb-4">
          <input
          name="terms"
            class="form-check-input me-2"
            type="checkbox"
            value=""
            id="registerCheck"
            aria-describedby="registerCheckHelpText"
          />
          <label class="form-check-label" for="registerCheck">
            I have read and agree to the terms
          </label>
        </div> --}}

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-3">Sign Up</button>
        <div class="text-center">
          <p>Already Have Account? <a href="/login">Login</a></p>
        </div>
      </form>

    </div>
  </div>
</div>