@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
}

.hero-dot {
  width: 8px;
  height: 8px;
  display: block;
  margin: 4px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}
.hero-dot-active {
  width: 24px;
  background: white;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
